In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Baghmara,23.7950,86.2085,84.27,67,0,10.18,IN,2022-05-13 00:37:44
1,1,Arraial Do Cabo,-22.9661,-42.0278,73.54,75,100,11.30,BR,2022-05-13 00:37:45
2,2,Ushuaia,-54.8000,-68.3000,42.46,93,75,4.61,AR,2022-05-13 00:34:23
3,3,Victoria,22.2855,114.1577,79.95,96,100,3.00,HK,2022-05-13 00:35:03
4,4,Bluff,-46.6000,168.3333,59.81,74,100,9.26,NZ,2022-05-13 00:37:46

In [6]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

NameError: name 'max_temp' is not defined

In [1]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

NameError: name 'preferred_cities_df' is not defined